@charset "UTF-8";
:root {
  --content: #000;
  --lighter: #ccc;
  --light: #aaa;
  --background: #fff;
  --background-alt: #E6E6FA;
  --background-trans: rgba(230,230,250,0.86);
  --background-trans-mini: rgba(230,230,250,0.95);
  --accent: turquoise;
  --accent2: magenta;
  color-scheme: only light;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("josefinSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-style: normal;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("BodoniModa-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 999;
  font-style: normal;
}
@font-face {
  font-family: "Fira Mono";
  src: url("FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  background: var(--background-alt);
  font-size: 4vw;
}
@media (min-width: 400px) {
  html {
    font-size: 3.5vw;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 3vw;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 2vw;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 110%;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 130%;
  }
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-variation-settings: "wght" 400;
  background: var(--background-alt);
}
body * {
  margin: 0;
  padding: 0;
  text-indent: 0;
  border: none;
  background: none;
  outline: none;
  list-style-type: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

header {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1000;
  font-variation-settings: "wght" 200;
  padding: 0 5vw;
  min-height: 3rem;
  max-height: 3rem;
  transition: all 0.45s ease-out;
}
[data-state=splash] header {
  max-height: 12rem;
  height: 12rem;
  padding: 10vw 10vw 0;
}
@media (min-width: 900px) {
  [data-state=splash] header {
    padding: 21vh 15vw 0;
  }
}
@media (min-width: 1100px) {
  [data-state=splash] header {
    padding: 21vh 20vw 0;
  }
}
header h1, header p {
  display: grid;
  font-size: 1rem;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: 100%;
}
@media (min-width: 600px) {
  header h1, header p {
    grid-template-columns: 21rem;
    font-size: 1.36rem;
  }
}
header h1 {
  transform: scale(1);
  transition: transform 0.45s 0.45s;
}
[data-state=scroll] header h1 {
  transform: scale(0);
}
header h1 > *:first-child {
  grid-column-start: 1;
  grid-row-start: 1;
  font-size: 110%;
  font-variation-settings: "wght" 350;
  transform: translate(0, -3rem);
}
@media (min-width: 600px) {
  header h1 > *:first-child {
    transform: translate(-2vw, -2vw);
  }
}
header h1 > *:last-child {
  grid-column-start: 1;
  grid-row-start: 2;
  display: grid;
  align-items: center;
  grid-row-gap: 1rem;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  position: relative;
}
header h1 > *:last-child > span {
  position: relative;
  grid-column-start: 1;
  grid-row-start: 1;
  transform: translate(5rem, -3.2rem);
}
header h1 > *:last-child > span.punctuation {
  display: none;
}
header h1 > *:last-child > strong {
  z-index: 10;
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: flex-start;
  text-transform: uppercase;
  position: relative;
  font-size: 110%;
  letter-spacing: -0.05rem;
  text-shadow: 0 0 0 var(--background) 0 0 0 var(--content);
  color: var(--content);
  transition: all 0.2s;
}
[data-state=splash] header h1 > *:last-child > strong {
  letter-spacing: -0.2rem;
  font-size: 300%;
  justify-self: center;
  text-shadow: -0.2rem 0.2rem 0 var(--background);
}
[data-state=splash] header h1 > *:last-child span {
  opacity: 1;
}
@media (min-width: 600px) {
  header h1 > *:last-child {
    grid-template-rows: max-content max-content;
    grid-template-columns: 40% 1fr 1rem;
  }
  header h1 > *:last-child > span {
    text-align: left;
    grid-column-start: 2;
    transform: none;
  }
  header h1 > *:last-child > span.punctuation {
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: right;
    font-size: 900%;
    font-variation-settings: "wght" 500;
    position: absolute;
    bottom: -1.7rem;
    color: var(--background);
    right: -0.5rem;
    z-index: 0;
  }
  header h1 > *:last-child > strong {
    grid-column-end: span 2;
    grid-row-start: 2;
  }
  [data-state=splash] header h1 > *:last-child > strong {
    font-size: 300%;
  }
}
header p {
  margin: 0 0 1rem 0;
  grid-row-gap: 0.6rem;
  position: relative;
  transition: opacity 0.2s;
}
@media (min-width: 600px) {
  header p {
    margin: 0.2rem 0 0 0;
  }
}
header p:before, header p:after {
  content: "";
  position: absolute;
  height: 1px;
  background: var(--content);
}
header p:before {
  left: -20vw;
  top: 1rem;
  width: 0;
  transition: width 0.45s;
}
[data-state=splash] header p:before {
  width: 19vw;
}
header p:after {
  left: 100vw;
  bottom: -0.1rem;
  width: 100vw;
  transition: left 0.45s;
}
[data-state=splash] header p:after {
  left: calc(100% - 2.6rem);
}
header p > span {
  grid-column-start: 1;
  position: relative;
  z-index: 1;
  transform: translateX(0);
  transition: transform 0.45s;
}
[data-state=scroll] header p > span {
  transform: translateX(-100vw);
}
[data-state=splash] header p > span:first-child {
  grid-row-start: 1;
  transform: translateX(0.1rem);
}
[data-state=splash] header p > span:first-child strong {
  font-variation-settings: "wght" 380;
}
[data-state=splash] header p > span:first-child strong:first-child {
  font-variation-settings: "wght" 300;
}
[data-state=splash] header p > span:first-child .punctuation {
  margin-right: -0.1rem;
  opacity: 0.8;
  z-index: 0;
}
[data-state=splash] header p > span.punctuation {
  grid-row-start: 2;
  text-align: right;
  transform: translate(-0.7rem, -4.2rem);
  font-size: 900%;
  height: 1rem;
  z-index: 0;
  color: var(--background);
}
header p > time {
  grid-column-start: 1;
  grid-row-start: 2;
  margin-right: 1rem;
  letter-spacing: 0.05rem;
  position: relative;
  z-index: 10;
  transform: translateX(0);
  transition: transform 0.45s;
}
[data-state=scroll] header p > time {
  transform: translateX(100vw);
}
@media (min-width: 600px) {
  header p > time {
    text-align: right;
  }
}
header .punctuation {
  font-family: "Bodoni Moda";
}

menu {
  display: grid;
  position: fixed;
  align-items: flex-start;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
  transition: all 0.45s;
}
[data-state=splash] menu {
  top: 10vw;
  padding-top: 12rem;
  width: 15rem;
  left: auto;
  right: 10vw;
  grid-template-rows: 7rem max-content max-content;
}
[data-state=splash] menu:before {
  grid-row-start: 1;
  grid-row-end: span 3;
  grid-column-start: 1;
  content: "";
  align-self: stretch;
  background: var(--background-trans);
}
@media (min-width: 600px) {
  [data-state=splash] menu {
    width: 20rem;
  }
  [data-state=splash] menu:before {
    background: linear-gradient(transparent 10%, var(--background-trans) 40%, var(--background-trans) 90%, transparent 100%);
  }
}
@media (min-width: 900px) {
  [data-state=splash] menu {
    top: 21vh;
    right: 15vw;
    grid-template-columns: max-content 1fr;
  }
}
@media (min-width: 1100px) {
  [data-state=splash] menu {
    right: 20vw;
  }
}
menu button {
  font-size: 1rem;
  grid-row-start: 2;
  grid-column-start: 1;
  position: relative;
  pointer-events: all;
  user-select: none;
  cursor: pointer;
  height: 3rem;
  pointer-events: all;
}
menu button[data-action=splash] {
  grid-row-start: 1;
  justify-self: flex-start;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.45s;
}
[data-state=scroll] menu button[data-action=splash] {
  width: 10rem;
  opacity: 1;
  pointer-events: all;
  margin-left: 4rem;
  position: relative;
  z-index: 1;
}
[data-state=scroll] menu button[data-action=splash] span {
  opacity: 0;
  background: var(--background);
  display: inline-block;
  padding: 0.2rem 0.5rem;
  border-radius: 0.1rem;
  transform: translate(1rem, 0.3rem);
  transition: opacity 0.15s;
}
[data-state=scroll] menu button[data-action=splash]:hover span {
  opacity: 1;
}
menu button[data-action=contact] {
  padding: 0 0 0 1rem;
  background: var(--background-alt);
  transition: padding 0.15s;
  justify-self: flex-end;
  grid-row-start: 1;
}
menu button[data-action=contact]:before {
  content: "";
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0.1rem;
  border-left: 0.3rem solid var(--background-alt);
  border-bottom: 0.3rem solid var(--accent);
  padding: 0 0.6rem 0.6rem 0;
  z-index: 0;
  transition: opacity 0.15s;
}
menu button[data-action=contact] span {
  position: relative;
  z-index: 1;
  font-variation-settings: "wght" 350;
  transition: font-variation-settings 0.15s;
}
menu button[data-action=contact]:hover:before, menu button[data-action=contact]:focus:before {
  opacity: 1;
}
menu button[data-action=contact]:hover span, menu button[data-action=contact]:focus span {
  font-variation-settings: "wght" 600;
}
[data-state=scroll] menu button[data-action=contact] {
  margin-right: 2rem;
}
[data-state=splash] menu button[data-action=contact] {
  padding: 0 1rem 0 2rem;
  transform: translateY(-50%);
  border-right: 0.3rem solid var(--background-alt);
}
[data-state=splash] menu button[data-action=contact]:before {
  border-top: 0.3rem solid var(--background-alt);
  border-left: 0.3rem solid var(--background-alt);
  border-right: 0.3rem solid var(--accent);
  border-bottom: 0.3rem solid var(--accent);
}
menu button[data-action=scroll] {
  justify-self: flex-end;
  display: grid;
  grid-template-columns: 1fr 1rem;
  align-items: center;
  grid-column-gap: 0.3rem;
  grid-template-rows: 2.4rem;
  position: relative;
  grid-row-start: 1;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.45s 0.9s;
}
[data-state=splash] menu button[data-action=scroll] {
  opacity: 1;
  pointer-events: all;
  grid-row-start: 3;
}
@media (min-width: 600px) {
  [data-state=splash] menu button[data-action=scroll] {
    grid-row-start: 3;
  }
}
[data-state=scroll] menu button[data-action=scroll] {
  transform: translateY(3rem);
}
menu button[data-action=scroll] span {
  grid-column-start: 1;
  grid-row-start: 1;
  text-align: right;
  transition: font-variation-settings 0.15s;
}
menu button[data-action=scroll]:before, menu button[data-action=scroll]:after {
  font-family: "Bodoni Moda";
  content: "»";
  font-size: 120%;
  transform: rotate(90deg) translate(0.2rem, -1rem);
  transform-origin: top left;
  grid-column-start: 2;
  grid-row-start: 1;
  overflow: visible;
  justify-self: flex-start;
  text-align: left;
  transition: all 0.15s;
}
menu button[data-action=scroll]:after {
  transform: rotate(90deg) translate(1.2rem, -1rem);
}
menu button[data-action=scroll]:hover:before, menu button[data-action=scroll]:hover:after, menu button[data-action=scroll]:active:before, menu button[data-action=scroll]:active:after {
  font-variation-settings: "wght" 750;
}
menu button[data-action=scroll]:hover:after, menu button[data-action=scroll]:active:after {
  transform: rotate(90deg) translate(2.2rem, -1rem);
}
menu details {
  font-size: 1rem;
  justify-self: flex-end;
  grid-column-start: 1;
  grid-row-start: 1;
  pointer-events: all;
}
menu details summary {
  pointer-events: all;
  user-select: none;
  cursor: pointer;
  display: grid;
  align-items: center;
  grid-template-rows: 2.4rem;
  grid-template-columns: 1rem 1fr;
}
menu details summary h2 {
  grid-column-start: 2;
  transition: font-variation-settings 0.15s;
}
menu details summary h2 strong {
  font-variation-settings: "wght" 350;
  transition: font-variation-settings 0.15s;
}
menu details summary h3 {
  grid-column-start: 2;
}
menu details summary h3 strong {
  font-variation-settings: "wght" inherit;
  transition: font-variation-settings 0.15s;
}
menu details summary:before {
  font-family: "Bodoni Moda";
  content: "›";
  font-size: 120%;
  transform: rotate(0);
  transition: all 0.15s;
}
menu details summary:hover:before, menu details summary:focus:before {
  font-variation-settings: "wght" 900;
}
menu details summary:hover h2 > strong, menu details summary:focus h2 > strong {
  font-variation-settings: "wght" 600;
}
menu details summary:hover h3 > strong, menu details summary:focus h3 > strong {
  font-variation-settings: "wght" 350;
}
menu details ul {
  height: 10rem;
}
[data-state=scroll] menu details {
  justify-self: flex-start;
}
menu details.hamburger {
  position: relative;
  z-index: 0;
}
menu details.hamburger:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3rem;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: transparent;
  transition: background 0;
  transition-delay: 0.45s;
}
[data-state=scroll] menu details.hamburger {
  padding: 0 2rem;
  justify-self: stretch;
}
[data-state=scroll] menu details.hamburger:before {
  background: var(--background-trans-mini);
}
@media (min-width: 600px) {
  [data-state=scroll] menu details.hamburger:before {
    background: var(--background-trans);
  }
}
[data-state=scroll] menu details.hamburger > summary:before, [data-state=scroll] menu details.hamburger > summary h2 {
  display: none;
}
[data-state=scroll] menu details.hamburger > summary h3 {
  width: 1rem;
  height: 1rem;
  grid-column-start: 1;
  grid-column-end: span 2;
  transform: rotate(90deg) translateX(0.2rem);
  letter-spacing: 0.1rem;
  font-variation-settings: "wght" 400;
}
[data-state=scroll] menu details.hamburger > summary:hover h3 > strong, [data-state=scroll] menu details.hamburger > summaryfocus h3 > strong {
  font-variation-settings: "wght" 600;
}
[data-state=scroll] menu details.hamburger > details {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: opacity 0.45s;
}
[data-state=splash] [data-state=scroll] menu details.hamburger > details {
  opacity: 0;
  display: none;
}
[data-state=scroll] menu details.hamburger > details[open] {
  width: calc(100vw - 4rem);
}
[data-state=scroll] menu details.hamburger > details[open] summary:before {
  transform: rotate(90deg) translate(0.2rem, 0.2rem);
}
[data-state=splash] menu details.hamburger {
  grid-row-start: 2;
}
[data-state=splash] menu details.hamburger > summary h3 {
  display: none;
}
[data-state=splash] menu details.hamburger > details {
  display: none;
}

main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 16rem max-content;
}
main > * {
  pointer-events: none;
}
[data-state=splash] main {
  margin-top: 12rem;
  padding-top: 10vw;
}
@media (min-width: 900px) {
  [data-state=splash] main {
    padding-top: 21vh;
  }
}
[data-state=scroll] main:before {
  content: "";
  position: sticky;
  padding-top: 10vw;
  transform: translateY(-10vw);
  top: 0;
  left: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 10;
  height: 3rem;
  background: var(--background-trans-mini);
}
@media (min-width: 600px) {
  [data-state=scroll] main:before {
    background: var(--background-trans);
  }
}
@media (min-width: 900px) {
  [data-state=scroll] main:before {
    padding-top: 21vh;
    transform: translateY(-21vh);
  }
}
main #top {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 100%;
  pointer-events: none;
}
main h2 {
  height: 0;
  z-index: 10;
  grid-row-start: 1;
  grid-column-start: 1;
  display: grid;
  text-align: right;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  transform-origin: right;
  transition: transform 0.45s;
}
main h2:before {
  content: "";
  position: relative;
  grid-column-start: 1;
  grid-row-start: 1;
  height: 100%;
}
main h2 span:first-child {
  z-index: 1;
  font-size: 1rem;
  text-transform: uppercase;
  font-variation-settings: "wght" 300;
}
main h2 span {
  position: relative;
  grid-row-start: 1;
  grid-column-start: 1;
}
main h2 span:last-child {
  z-index: 0;
  font-size: 2rem;
  bottom: 0.5rem;
  font-family: "Bodoni Moda";
  font-variation-settings: "wght" 600;
  color: var(--background);
}
@media (min-width 600px) {
  main h2 span:last-child {
    font-size: 2.5rem;
    bottom: 1.2rem;
  }
}
[data-state=splash] main h2 {
  margin-left: auto;
  margin-right: 10vw;
  transform: scale(1.5);
}
@media (min-width: 600px) {
  [data-state=splash] main h2 {
    transform: scale(2);
  }
}
@media (min-width: 900px) {
  [data-state=splash] main h2 {
    margin-right: 15vw;
  }
}
@media (min-width: 1100px) {
  [data-state=splash] main h2 {
    margin-right: 20vw;
  }
}
[data-state=scroll] main h2 {
  text-align: left;
  left: 4rem;
  top: 0.7rem;
  position: fixed;
}
[data-state=scroll] main h2:before {
  content: "CV";
  z-index: 1;
  background: transparent;
  font-size: 1.2rem;
  height: 1.5rem;
  text-transform: uppercase;
  font-variation-settings: "wght" 300;
}
[data-state=scroll] main h2 span:first-child {
  display: none;
}
[data-state=scroll] main h2 span:first-child, [data-state=scroll] main h2:before {
  font-variation-settings: "wght" 350;
}
@media (min-width: 600px) {
  [data-state=scroll] main h2:before {
    display: none;
  }
  [data-state=scroll] main h2 span:first-child {
    display: unset;
  }
}
main #cv {
  grid-row-start: 2;
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  z-index: 0;
}
main ol {
  display: none;
}
@media (min-width: 600px) {
  main ol {
    display: grid;
    align-items: stretch;
    pointer-events: none;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  main ol li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 80vh;
    min-height: 36rem;
    max-height: 48rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 100%;
    font-family: "Fira Mono";
    font-weight: normal;
    font-size: 0.68rem;
  }
  main ol li:after {
    content: attr(data-year);
    grid-row-start: 2;
    grid-column-start: 1;
    align-self: flex-start;
    justify-self: flex-end;
    background: var(--background-alt);
    padding: 0.3rem;
    color: #999;
    margin-right: 5vw;
    transform: translateY(-0.86rem);
  }
  main ol li:before {
    content: "";
    background: var(--content);
    grid-row-start: 1;
    grid-column-start: 1;
    height: 1px;
    opacity: 0.2;
  }
  [data-state=splash] main ol li:first-child {
    position: sticky;
    top: 16rem;
    z-index: 100;
  }
  [data-state=splash] main ol li:first-child:before {
    display: none;
  }
  [data-state=splash] main ol li:first-child:after {
    transform: translateY(-13.7rem);
    margin-right: 10vw;
    font-family: "Josefin Sans";
    color: var(--content);
    font-variation-settings: "wght" 350;
    letter-spacing: 0.05rem;
  }
}
@media (min-width: 600px) and (min-width: 900px) {
  [data-state=splash] main ol li:first-child:after {
    margin-right: 15vw;
  }
}
@media (min-width: 600px) and (min-width: 1100px) {
  [data-state=splash] main ol li:first-child:after {
    margin-right: 20vw;
  }
}
@media (min-width: 600px) {
  main ol:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: "Bodoni Moda";
    content: "~";
    text-align: center;
    font-size: 500%;
    font-variation-settings: "wght" 500;
    color: var(--background);
  }
}
main section {
  grid-row-start: 1;
  grid-column-start: 1;
  width: 100%;
  display: grid;
  grid-auto-flow: row;
}

article {
  grid-column-start: 1;
  align-self: flex-start;
  display: grid;
  grid-template-rows: 4.9rem auto 1fr;
  grid-template-columns: 1fr;
  overflow: visible;
  font-variation-settings: "wght" 300;
}
article > * {
  justify-self: flex-start;
}
@media (min-width: 600px) {
  article {
    left: 20%;
    right: 0;
    position: absolute;
    grid-row-start: 1;
  }
}
@media (min-width: 1100px) {
  article {
    left: 30%;
  }
}
article h4 {
  opacity: 0;
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: flex-start;
  transition: opacity 1s;
  display: grid;
  align-items: flex-end;
  grid-template-columns: 6.7rem 1fr;
  margin-left: 1rem;
  z-index: 2;
}
article h4 span {
  grid-row-start: 1;
}
article h4 span:not(.spiral) {
  grid-row-start: 1;
  grid-column-start: 2;
  font-size: 1.2rem;
}
@media (min-width: 600px) {
  article h4 span:not(.spiral) {
    font-size: 1rem;
  }
}
article h4 span.spiral {
  grid-column-start: 1;
  justify-self: stretch;
  position: relative;
  display: grid;
  top: 1px;
}
article h4 span.spiral:before, article h4 span.spiral svg {
  grid-column-start: 1;
  grid-row-start: 1;
  justify-self: flex-end;
}
article h4 span.spiral:before {
  content: "";
  position: relative;
  z-index: 0;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: var(--accent);
  transform: scale(0.1);
  transition: transform 1s;
}
article h4 span.spiral svg {
  position: relative;
  z-index: 1;
  width: 2.9rem;
  height: 4.6922rem;
  overflow: visible;
}
article h4 span.spiral svg path, article h4 span.spiral svg line {
  stroke: var(--content);
  stroke-width: 2px;
  fill: none;
  vector-effect: non-scaling-stroke;
}
article h4 span.spiral svg line {
  transform: scale(1);
  stroke-dasharray: 4.6922rem;
  stroke-dashoffset: 4.6922rem;
  transition: stroke-dashoffset 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
article h4 span.spiral svg path {
  stroke-dasharray: 13.775rem;
  stroke-dashoffset: 13.775rem;
  transition: stroke-dashoffset 0.8s;
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
}
article h4[data-state=in] {
  opacity: 1;
}
article h4[data-state=in] .spiral svg path, article h4[data-state=in] .spiral svg line {
  stroke-dashoffset: 0 !important;
}
article h4[data-state=in] .spiral:before {
  transform: scale(1);
}
article h5 {
  grid-row-start: 1;
  grid-row-end: span 3;
  align-self: stretch;
  display: grid;
  grid-template-columns: 0.2rem 1fr;
  grid-template-rows: 100%;
  grid-column-gap: 1rem;
  align-items: flex-start;
  grid-column-start: 1;
  z-index: 2;
}
article h5:after {
  grid-column-start: 1;
  grid-row-start: 1;
  content: "";
  position: relative;
  z-index: 1;
  align-self: stretch;
  background: var(--content);
}
@media (min-width: 600px) {
  article h5:after {
    margin-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0.3rem;
  }
}
article h5 span {
  grid-row-start: 1;
}
article h5 span:not(.spiral) {
  text-transform: uppercase;
  letter-spacing: 0.03rem;
  font-size: 0.9rem;
  position: relative;
  z-index: 2;
  grid-column-start: 2;
  margin: 6.5rem 0 0 6.4rem;
}
article h5 span.spiral {
  grid-column-start: 1;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-6.1rem, 0.75rem);
}
article h5 span.spiral svg {
  width: 1.2rem;
  height: 1.9416rem;
  overflow: visible;
}
article h5 span.spiral svg path, article h5 span.spiral svg line {
  stroke: var(--content);
  stroke-width: 2px;
  fill: none;
  vector-effect: non-scaling-stroke;
}
article h5 span.spiral svg line {
  transform: scale(1);
  stroke-dasharray: 1.9416rem;
  stroke-dashoffset: 1.9416rem;
  transition: stroke-dashoffset 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
article h5 span.spiral svg path {
  stroke-dasharray: 5.7rem;
  stroke-dashoffset: 5.7rem;
  transition: stroke-dashoffset 0.8s;
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
}
article h5[data-header-state=in] span.spiral svg line, article h5[data-header-state=in] span.spiral svg path {
  stroke-dashoffset: 0 !important;
}
article div {
  grid-row-start: 2;
  grid-row-end: span 2;
  grid-column-start: 1;
  display: flex;
  align-items: stretch;
  min-height: 20rem;
  pointer-events: all;
  width: 100vw;
  overflow-x: auto;
  position: relative;
}
article div:before {
  content: "";
  position: sticky;
  top: 0;
  left: 0.7rem;
  bottom: 1.2rem;
  margin-top: 3rem;
  border-left: 2px solid;
  border-bottom: 1px solid transparent;
  transition: border-bottom-color 1s;
}
article div:before[data-footer-state=in] {
  border-bottom-color: var(--content);
}
article div figure {
  margin: 4.3rem 1.6rem 0 0;
  width: 27rem;
  flex-shrink: 0;
  max-width: calc(100vw - 4rem);
  opacity: 0;
  transition: opacity 0.3s;
}
article div figure[data-state=in] {
  opacity: 0.5;
}
article div figure:hover {
  opacity: 1;
}
article div figure ul {
  margin-left: 6.7rem;
  font-size: 0.9rem;
}
article div figure ul li {
  margin-bottom: 0.3rem;
}
article div figure img {
  width: 100%;
  height: auto;
}
@media (min-width: 600px) {
  article div {
    overflow-x: visible;
  }
  article div:before {
    position: absolute;
    right: 0;
  }
}
article footer {
  grid-column-start: 1;
  grid-row-start: 3;
  align-self: flex-end;
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1rem 1fr;
}
article footer small {
  display: none;
}
@media (min-width: 600px) {
  article footer small {
    display: unset;
    font-size: 0.7rem;
    padding-left: 0.3rem;
    line-height: 1rem;
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: flex-end;
    text-transform: uppercase;
    letter-spacing: 0.03rem;
    font-size: 0.6rem;
  }
}
article footer span {
  grid-row-start: 1;
  grid-column-start: 1;
}
article footer span.spiral {
  transform-origin: top left;
  position: relative;
  z-index: 5;
}
article footer span.spiral:before {
  position: absolute;
  bottom: 10%;
  right: 20%;
  z-index: 0;
  content: "";
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  background: var(--accent);
  transform: scale(0.1);
  transition: transform 1s;
}
article footer span.spiral:nth-child(2) {
  left: -0.1rem;
  bottom: -0.36rem;
  transform: rotate(31deg) scaleY(-1);
}
article footer span.spiral:nth-child(2) svg {
  width: 0.8rem;
  height: 1.2944rem;
  overflow: visible;
}
article footer span.spiral:nth-child(2) svg path, article footer span.spiral:nth-child(2) svg line {
  stroke: var(--content);
  stroke-width: 2px;
  fill: none;
  vector-effect: non-scaling-stroke;
}
article footer span.spiral:nth-child(2) svg line {
  transform: scale(0);
  stroke-dasharray: 0rem;
  stroke-dashoffset: 0rem;
  transition: stroke-dashoffset 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
article footer span.spiral:nth-child(2) svg path {
  stroke-dasharray: 3.8rem;
  stroke-dashoffset: 3.8rem;
  transition: stroke-dashoffset 0.8s;
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
}
article footer span.spiral:nth-child(3) {
  bottom: -1rem;
  left: 0.1rem;
  transform: rotate(-90deg);
}
article footer span.spiral:nth-child(3) svg {
  width: 0.8rem;
  height: 1.2944rem;
  overflow: visible;
}
article footer span.spiral:nth-child(3) svg path, article footer span.spiral:nth-child(3) svg line {
  stroke: var(--content);
  stroke-width: 2px;
  fill: none;
  vector-effect: non-scaling-stroke;
}
article footer span.spiral:nth-child(3) svg line {
  transform: scale(0);
  stroke-dasharray: 0rem;
  stroke-dashoffset: 0rem;
  transition: stroke-dashoffset 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
article footer span.spiral:nth-child(3) svg path {
  stroke-dasharray: 3.8rem;
  stroke-dashoffset: 3.8rem;
  transition: stroke-dashoffset 0.8s;
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
}
article footer span.spiral svg {
  position: relative;
  z-index: 1;
}
article footer[data-state=in] span.spiral:before {
  transform: scale(1);
}
article footer[data-state=in] span.spiral svg path, article footer[data-state=in] span.spiral svg line {
  stroke-dashoffset: 0 !important;
}
article[data-activity-type=core] {
  height: 15rem;
}
@media (min-width: 600px) {
  article[data-activity-type=core] {
    left: 0;
    right: 80%;
  }
  article[data-activity-type=core] > * {
    justify-self: flex-end;
  }
  article[data-activity-type=core] h4 {
    margin-left: 0;
    margin-right: 2.5rem;
    text-align: right;
    grid-template-columns: 1fr 4.3rem;
  }
  article[data-activity-type=core] h4 span.spiral {
    grid-column-start: 2;
  }
  article[data-activity-type=core] h5 {
    grid-template-columns: 1fr 1rem;
  }
  article[data-activity-type=core] h5 span.spiral {
    grid-column-start: 2;
  }
  article[data-activity-type=core] h5:before {
    grid-column-start: 2;
    left: -0.7rem;
  }
  article[data-activity-type=core] h5:after {
    grid-column-start: 2;
    width: 0.2rem;
  }
  article[data-activity-type=core] div {
    width: calc(20vw - 1rem);
  }
  article[data-activity-type=core] div:before {
    display: none;
  }
  article[data-activity-type=core] div figure {
    width: calc(20vw - 2rem);
  }
  article[data-activity-type=core] div figure ul {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: right;
  }
  article[data-activity-type=core] footer {
    grid-template-columns: 1fr 1rem;
  }
  article[data-activity-type=core] footer small {
    padding-left: 0;
    padding-right: 1rem;
    text-align: right;
    grid-column-start: 1;
  }
  article[data-activity-type=core] footer span.spiral {
    grid-column-start: 2;
  }
  article[data-activity-type=core] footer span.spiral:nth-child(3) {
    transform: rotate(-90deg) scaleY(-1);
  }
}
@media (min-width: 600px) and (min-width: 1100px) {
  article[data-activity-type=core] {
    right: 70%;
  }
  article[data-activity-type=core] div {
    width: calc(30vw - 1rem);
  }
  article[data-activity-type=core] div figure {
    width: calc(30vw - 2rem);
  }
}
article[data-activity-type=core] h4 span:not(.spiral), article[data-activity-type=core] h5 span:not(.spiral) {
  display: none;
}
article[data-activity-type=core] h4 .spiral {
  transform: rotate(-90deg) translate(1rem, -0.2rem);
}
article[data-activity-type=core] h4 .spiral:before {
  top: -1rem;
  left: 2rem;
  opacity: 0.4;
}
@media (min-width: 600px) {
  article[data-activity-type=core] h4 .spiral {
    transform: rotate(-90deg) translate(1rem, 7.8rem);
  }
}
article[data-activity-type=core] h4[data-state=in] .spiral:before {
  transform: scale(2);
}
article[data-activity-type=core] h5 .spiral {
  transform: rotate(-90deg) scaleY(-1) translate(-0.9rem, -1.14rem);
}
@media (min-width: 600px) {
  article[data-activity-type=core] h5 .spiral {
    transform: rotate(-90deg) scaleY(-1) translate(-2.9rem, 0.8rem);
  }
}
article[data-activity-type=core] h5:after {
  margin-top: 8rem;
  width: 0.2rem;
}
@media (min-width: 600px) {
  article[data-activity-type=core] h5:after {
    margin-top: 0;
    width: 0.5rem;
  }
}
article[data-activity-type=core] > footer {
  grid-row-start: 1;
}
article[data-activity-type=core] > footer > span.spiral:nth-child(2) {
  transform: rotate(90deg) scaleY(-1) translate(3.7rem, -0.7rem);
}
article[data-activity-type=core] > footer > span.spiral:nth-child(2) svg {
  width: 0.8rem;
  height: 1.2944rem;
  overflow: visible;
}
article[data-activity-type=core] > footer > span.spiral:nth-child(2) svg path, article[data-activity-type=core] > footer > span.spiral:nth-child(2) svg line {
  stroke: var(--content);
  stroke-width: 2px;
  fill: none;
  vector-effect: non-scaling-stroke;
}
article[data-activity-type=core] > footer > span.spiral:nth-child(2) svg line {
  transform: scale(7);
  stroke-dasharray: 9.0608rem;
  stroke-dashoffset: 9.0608rem;
  transition: stroke-dashoffset 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
article[data-activity-type=core] > footer > span.spiral:nth-child(2) svg path {
  stroke-dasharray: 3.8rem;
  stroke-dashoffset: 3.8rem;
  transition: stroke-dashoffset 0.8s;
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
}
article[data-activity-type=core] > footer > span.spiral:nth-child(3) {
  transform: rotate(90deg) translate(4rem, -1.04rem);
}
article[data-activity-type=core] > footer > span.spiral:nth-child(3) svg {
  width: 0.8rem;
  height: 1.2944rem;
  overflow: visible;
}
article[data-activity-type=core] > footer > span.spiral:nth-child(3) svg path, article[data-activity-type=core] > footer > span.spiral:nth-child(3) svg line {
  stroke: var(--content);
  stroke-width: 2px;
  fill: none;
  vector-effect: non-scaling-stroke;
}
article[data-activity-type=core] > footer > span.spiral:nth-child(3) svg line {
  transform: scale(5);
  stroke-dasharray: 6.472rem;
  stroke-dashoffset: 6.472rem;
  transition: stroke-dashoffset 0.4s;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}
article[data-activity-type=core] > footer > span.spiral:nth-child(3) svg path {
  stroke-dasharray: 3.8rem;
  stroke-dashoffset: 3.8rem;
  transition: stroke-dashoffset 0.8s;
  transition-delay: 0.4s;
  transition-timing-function: ease-out;
}
article[data-activity-type=core] > footer small {
  display: none;
}
@media (min-width: 600px) {
  article[data-activity-type=branch] h5 span:not(.spiral), article[data-activity-type=contract] h5 span:not(.spiral) {
    margin: 0;
    white-space: nowrap;
    transform: rotate(90deg) translate(2.6rem, 1.4rem);
    transform-origin: top left;
    font-size: 0.6rem;
  }
  article[data-activity-type=branch] {
    padding-left: 0.4rem;
  }
  article[data-activity-type=branch] footer span.spiral:nth-child(2) {
    left: 0.75rem;
    bottom: 0;
    transform: rotate(90deg);
  }
  article[data-activity-type=branch] footer span.spiral:nth-child(3) {
    bottom: -1.6rem;
    left: -0.4rem;
    transform: rotate(-90deg);
  }
  article[data-activity-type=branch] footer span.spiral:nth-child(3) svg {
    width: 0.8rem;
    height: 1.2944rem;
    overflow: visible;
  }
  article[data-activity-type=branch] footer span.spiral:nth-child(3) svg path, article[data-activity-type=branch] footer span.spiral:nth-child(3) svg line {
    stroke: var(--content);
    stroke-width: 2px;
    fill: none;
    vector-effect: non-scaling-stroke;
  }
  article[data-activity-type=branch] footer span.spiral:nth-child(3) svg line {
    transform: scale(3);
    stroke-dasharray: 3.8832rem;
    stroke-dashoffset: 3.8832rem;
    transition: stroke-dashoffset 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
  }
  article[data-activity-type=branch] footer span.spiral:nth-child(3) svg path {
    stroke-dasharray: 3.8rem;
    stroke-dashoffset: 3.8rem;
    transition: stroke-dashoffset 0.8s;
    transition-delay: 0.4s;
    transition-timing-function: ease-out;
  }
  article[data-activity-type=branch][data-focus="-1"] {
    left: 0;
    right: 80%;
    padding-left: 0;
    padding-right: 1rem;
  }
  article[data-activity-type=branch][data-focus="-1"] > * {
    justify-self: flex-end;
  }
  article[data-activity-type=branch][data-focus="-1"] h4 {
    margin-left: 0;
    margin-right: 2.5rem;
    text-align: right;
    grid-template-columns: 1fr 4.3rem;
  }
  article[data-activity-type=branch][data-focus="-1"] h4 span.spiral {
    grid-column-start: 2;
  }
  article[data-activity-type=branch][data-focus="-1"] h5 {
    grid-template-columns: 1fr 1rem;
  }
  article[data-activity-type=branch][data-focus="-1"] h5 span.spiral {
    grid-column-start: 2;
  }
  article[data-activity-type=branch][data-focus="-1"] h5:before {
    grid-column-start: 2;
    left: -0.7rem;
  }
  article[data-activity-type=branch][data-focus="-1"] h5:after {
    grid-column-start: 2;
    width: 0.2rem;
  }
  article[data-activity-type=branch][data-focus="-1"] div {
    width: calc(20vw - 1rem);
  }
  article[data-activity-type=branch][data-focus="-1"] div:before {
    display: none;
  }
  article[data-activity-type=branch][data-focus="-1"] div figure {
    width: calc(20vw - 2rem);
  }
  article[data-activity-type=branch][data-focus="-1"] div figure ul {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: right;
  }
  article[data-activity-type=branch][data-focus="-1"] footer {
    grid-template-columns: 1fr 1rem;
  }
  article[data-activity-type=branch][data-focus="-1"] footer small {
    padding-left: 0;
    padding-right: 1rem;
    text-align: right;
    grid-column-start: 1;
  }
  article[data-activity-type=branch][data-focus="-1"] footer span.spiral {
    grid-column-start: 2;
  }
  article[data-activity-type=branch][data-focus="-1"] footer span.spiral:nth-child(3) {
    transform: rotate(-90deg) scaleY(-1);
  }
}
@media (min-width: 600px) and (min-width: 1100px) {
  article[data-activity-type=branch][data-focus="-1"] {
    right: 70%;
  }
  article[data-activity-type=branch][data-focus="-1"] div {
    width: calc(30vw - 1rem);
  }
  article[data-activity-type=branch][data-focus="-1"] div figure {
    width: calc(30vw - 2rem);
  }
}
@media (min-width: 600px) {
  article[data-activity-type=branch][data-focus="-1"] h4 span:not(.spiral) {
    grid-column-start: 1;
    grid-column-end: span 2;
    transform: translateY(2.6rem);
  }
}
@media (min-width: 600px) and (min-width: 1100px) {
  article[data-activity-type=branch][data-focus="-1"] h4 span:not(.spiral) {
    transform: translate(-0.3rem, 2rem);
  }
}
@media (min-width: 600px) {
  article[data-activity-type=branch][data-focus="-1"] h4 span.spiral {
    transform: scaleX(-1);
  }
}
@media (min-width: 600px) {
  article[data-activity-type=branch][data-focus="-1"] h5 span:not(.spiral) {
    transform: rotate(90deg) translate(2.5rem, -0.8rem);
  }
  article[data-activity-type=branch][data-focus="-1"] h5 span.spiral {
    transform: rotate(-90deg) scaleY(-1) translate(-5.1rem, -0.1rem);
  }
}
@media (min-width: 600px) {
  article[data-activity-type=branch][data-focus="-1"] footer span.spiral:nth-child(2) {
    left: 0.1rem;
  }
  article[data-activity-type=branch][data-focus="-1"] footer span.spiral:nth-child(3) {
    transform: rotate(-90deg);
    left: -0.2rem;
    bottom: -1.1rem;
  }
}
@media (min-width: 600px) {
  article[data-activity-type=branch][data-activity-id=ll] footer span:nth-child(3) {
    transform: rotate(0);
    bottom: -0.75rem;
  }
}
@media (min-width: 600px) {
  article[data-activity-type=contract] {
    margin-left: -1rem;
  }
  article[data-activity-type=contract] h5 span.spiral {
    transform: rotate(-90deg) translate(-5.8rem, 0.45rem);
  }
  article[data-activity-type=contract] div:before {
    left: 0;
  }
  article[data-activity-type=contract] footer {
    margin-left: 0.3rem;
  }
  article[data-activity-type=contract] footer small {
    margin-left: 0.6rem;
  }
}
@media (min-width: 600px) {
  article[data-activity-type=projects] {
    margin-left: -0.7rem;
  }
  article[data-activity-type=projects] h4, article[data-activity-type=projects] h5, article[data-activity-type=projects] footer {
    display: none;
  }
  article[data-activity-type=projects] div:before {
    display: none;
  }
}
article[data-activity-type=root] h5 span:not(.spiral) {
  margin-left: 5rem;
}
article[data-activity-type=root] h5 span:not(.spiral) strong {
  display: none;
}
article[data-activity-type=root] h5 span.spiral {
  position: absolute;
  left: -1.5rem;
  top: 5rem;
  transform: rotate(90deg) translateY(-0.1rem);
}
article[data-activity-type=root] h4 {
  margin-left: 0;
}
article[data-activity-type=root] h4 span.spiral {
  transform: rotate(-90deg) translateY(-0.1rem);
}
article[data-activity-type=root] h4 span.spiral:before {
  top: 0;
  left: 0.2rem;
}
article[data-activity-type=root] h4[data-state=in] span.spiral:before {
  transform: scale(0.8);
}
@media (min-width: 600px) {
  article[data-activity-type=root] footer span.spiral:nth-child(2) {
    left: 0.75rem;
    bottom: 0;
    transform: rotate(90deg);
  }
  article[data-activity-type=root] footer span.spiral:nth-child(3) {
    bottom: -1.6rem;
    left: -0.4rem;
    transform: rotate(-90deg);
  }
  article[data-activity-type=root] footer span.spiral:nth-child(3) svg {
    width: 0.8rem;
    height: 1.2944rem;
    overflow: visible;
  }
  article[data-activity-type=root] footer span.spiral:nth-child(3) svg path, article[data-activity-type=root] footer span.spiral:nth-child(3) svg line {
    stroke: var(--content);
    stroke-width: 2px;
    fill: none;
    vector-effect: non-scaling-stroke;
  }
  article[data-activity-type=root] footer span.spiral:nth-child(3) svg line {
    transform: scale(3);
    stroke-dasharray: 3.8832rem;
    stroke-dashoffset: 3.8832rem;
    transition: stroke-dashoffset 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-in;
  }
  article[data-activity-type=root] footer span.spiral:nth-child(3) svg path {
    stroke-dasharray: 3.8rem;
    stroke-dashoffset: 3.8rem;
    transition: stroke-dashoffset 0.8s;
    transition-delay: 0.4s;
    transition-timing-function: ease-out;
  }
}
article[data-activity-type=root] footer span.spiral:nth-child(2) {
  left: -0.3rem;
  transform: rotate(-90deg) scaleY(-1);
}
article[data-activity-type=root] footer span.spiral:nth-child(3) {
  bottom: -0.8rem;
  left: -0.2rem;
}
article[data-activity-type=root] footer span.spiral svg {
  @inlcude spiral ($smallerSpiralWidth, $strokeWidth, -5, $footerSpiralDelay);
}
article[data-activity-type=root] footer span.spiral svg path {
  transition-delay: 0s;
}

body > footer {
  font-family: "Fira Mono";
  font-weight: normal;
  font-size: 0.68rem;
  display: flex;
  min-height: 3rem;
  padding: 0 5vw;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2000;
  background: var(--background);
}
body > footer a {
  text-decoration: none;
  position: relative;
  display: block;
  transition: font-variation-settings 0.15s;
}
body > footer a:link, body > footer a:visited, body > footer a:hover, body > footer a:active {
  color: var(--content);
}
body > footer a span {
  position: relative;
  z-index: 1;
  padding: 0 0.3rem;
}
body > footer a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.6rem;
  background: turquoise;
  opacity: 0.5;
  transition: opacity 0.15s;
}
body > footer a:hover {
  font-variation-settings: "wght" 350;
}
body > footer a:hover:before {
  opacity: 1;
}
footer body > footer a:before {
  height: 0.3rem;
}

.tf-v1-iframe-wrapper iframe {
  border-radius: 0 !important;
}

/*# sourceMappingURL=site.css.map */
